html {
    background-color: blue;
}

body {
    background-color: green;
}

.myContent {
    margin-left: 10vmin;
    margin-right: 10vmin;
    margin-top: 5vmin;
    background-color: yellow;
}

.myButton {
    background-color: #4885ED;
    color: white;
    border-radius:2.5vmax;
    padding: 1vmax 2vmax;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


/* desktop */
@media(min-width:768px){
    .myNavbar a {
    font-size: 1em;
    }
    .myText {
    font-size: 1em;
    }
    .myText2 {
    font-size: 1em;
    }       
    .myHeader {
    font-size: 1.8em;
    }
    .myButton {
    font-size: 1em;
    }
    .myNavbar-right button {
        display: none;
    }
    .mySpacer {
    padding-top: 5em;
    padding-bottom: 5em;
    }   
}
/* desktop end */


/* mobile */
@media(max-width:767px){
    .myNavbar a {
    font-size: 1em;
    }
    .myText {
    font-size: 1em;
    }
    .myText2 {
    font-size: 1em;
    }       
    .myHeader {
    font-size: 1.8em;
    }
    .myButton {
    font-size: 1em;
    }
    .myNavbar-right a {
        display: none;
    }
    .mySpacer {
    padding-top: 5em;
    padding-bottom: 5em;
    }
}
/* mobile end */


/* fonts */
    @font-face {
    font-family: "SF Text Bold";
    src: url(https://sf.abarba.me/SF-UI-Text-Bold.otf);
    }

    @font-face {
    font-family: "SF Text";
    font-weight: 400;
    src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
    }

    * {
        font-family: "SF Text Bold";
    }

    *.myTextLight {
        font-family: "SF Text" !important;
    }

    .myText {
        margin-bottom: 2vmax;
    }

    .myTextLink {
        margin-bottom: 2vmax;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .myHeader {
        margin-bottom: 2vmax;
    }
/* fonts end */


/* navbar */
    .myNavbar {
        overflow: hidden;
    }

    .myNavbar a {
        float: left;
        text-align: center;
        color: #707070;
        text-decoration: none;
    }

    .myNavbar-right {
        float: right;
    }

    .myNavbar-right a {
        padding: 2vmax 2vmax;
    }

    .myNavbar-right button {
    }

    .myLogo {
        max-width: 100%;
        max-height: 100%;
        max-height:5vmax; 
        max-width:5vmax;
    }

    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
/* navbar end */


/* spacing */
    .myContainer {
        position: absolute;
        width: 65%;
    }

    .mySpacer {
    }
/* spacing end */


/* footer */
    footer {
        /* background-color: #FAFAFA; */
        background-color: red;
        padding-top: 10em;
    }
/* footer end */
